<html>

<head>
    <title>AngularJS Login Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
    <div ng-app="">

        First Name: <input type="text" ng-model="first_name">
        <br>
        Last Name: <input type="text" ng-model="last_name">
        <br>
        Email: <input type="email" ng-model="email">
        <br>
        Password: <input type="password" ng-model="password">
        <br>

        <p>You wrote: {{ first_name }}</p>
        
    </div>
</body>

</html>