.button-operator {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border-collapse: collapse;
    color: white;
    background-color: blue;
}

.input-textbox {
	height: 50px;
	border-color: lightgray;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	margin: 30px;
    padding: 10px;
	font-size: 14;
}